!!!
%html
	%head
		%title London rail network status
		%link{rel: "stylesheet", type: "text/css", href: "/stylesheets/reset.css"}
	%body
		%header
			%h1 London Layout Staus
			%h2 update 2013
		%ul
			%li Here is the first list element
		%footer Data provided by Tfl and NRE	